* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  list-style: none;
}

:root {
  --gray: #666;
  --red: rgb(243, 13, 13);
}

.black-hover :hover {
  color: black;
}

.blue-hover :hover {
  color: blue;
}

.footer-color {
  color: var(--gray);
  text-decoration: none;
}

@media screen and (min-width: 768px){
	
}

@media screen and (min-width: 1024px){
	
}